div#wrapper
  nav(role="navigation", style="margin-bottom: 0").navbar.navbar-default.navbar-static-top
    div.container-fluid
      <!-- Brand and toggle get grouped for better mobile display -->
      div.navbar-header    
        button(type="button", data-toggle="collapse", data-target="#navbar").navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="#").navbar-brand Express.js MVC

      <!-- Collect the nav links, forms, and other content for toggling -->
      div.collapse.navbar-collapse#navbar
        ul.nav.navbar-nav
          li.active
            a(href="/") Home